body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.sci{
  position: relative;
  display: flex;
}
.sci li{
  margin: 64px;
}
.sci li a{
  display: inline-block;
  width: 40 px;
  height: 40px;
  text-align: center;
  overflow: hidden;
}
.sci li a i{
  font-size: 30px;
  color: #666;
  line-height: 40px;
  transform: translateY(0);
  transition: .3s;
}
.sci li:hover a i{
  transform: translateY(-100%);
}
.sci li a i::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}
.sci li:nth-child(1) a i::after{
  content: "\f099";
  color: #1da1f2;
}
.sci li:nth-child(2) a i::after{
  content: "\f09a";
  color: #3b5998;
}
.sci li:nth-child(3) a i::after{
  content: "\f167";
  color: #ff0000;
}
.sci li:nth-child(4) a i::after{
  content: "\f16d";
  color: #c32aa3;
}